/* Top bar styles */
.top-bar {
    background-color: #0074e4;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.logout-button {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px; /* Adjust padding to make the button slightly bigger */
    border-radius: 5px;
    background-color: #ff4444;
    transition: background-color 0.3s;
    font-size: 20px; /* Adjust font size for the button text */
}

.logout-button:hover {
    background-color: #cc0000;
}

/* Home link styles */
.home-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px; /* Add spacing to the right of the Home link */
}

/* Center the text and image in the middle of the top bar */
.center {
    text-align: center;
    display: flex;
    align-items: center;
}

/* Home logo styles */
.home-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Dashboard title styles */
.dashboard-title {
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1, h2, h3, p {
    font-family: 'Lato', sans-serif;
}

html, body {
    font-family: 'Lato', sans-serif;
}
