/* Existing CSS styles */

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.centered-box {
    width: 40vh;
    max-height: 90vh;
    background-color: #35393C;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    position: relative;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.centered-box::before {
    content: "";
    position: absolute;
    top: -10px; /* Adjust the distance of the stroke from the box */
    left: -10px; /* Adjust the distance of the stroke from the box */
    width: calc(100% + 20px); /* Adjust the size to include the stroke */
    height: calc(100% + 20px); /* Adjust the size to include the stroke */
    background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border-radius: 2vh;
    z-index: -1; /* Place the stroke behind the box */
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align content to the top of the box */
    height: 100%; /* Make the container occupy full height of centered-box */
}

.centered-container h2 {
    font-size: 10vh;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.video-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    z-index: 2;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
}

h1, h2, h3, p {
    font-family: 'Lato', sans-serif;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%; /* Make input-container occupy full height of centered-box */
}

.login-input {
    width: 80%;
    padding: 2%;
    border: none;
    border-radius: 1.5vh;
    background-color: #f2f2f2;
    font-size: 2.5vh;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: auto; /* Center input fields horizontally */
    margin-top: 4vh; /* Add a top margin to create a gap */
    margin-bottom: 2vh; /* Add a bottom margin to create a gap */
}
.button-container {
    display: flex;
    flex-direction: column; /* Display buttons vertically */
    align-items: center;
    margin-top: .5vh;
}

.login-heading {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Drop shadow for login heading */
    color: #35393C; 
}

.error-message {
    color: red;
    text-align: center; /* Center the text horizontally */
    font-size: 2vh; /* Set the initial font size in viewport height units (vh) */
}

/* Media query to change font size based on viewport width */
@media (max-width: 768px) {
    .error-message {
        font-size: 1.5vh; /* Adjust the font size for smaller screens */
    }
}
.button-64 {
    margin-bottom: 2vh;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 5px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button-64:active,
  .button-64:hover {
    outline: 0;
  }
  
  .button-64 span {
    background-color: #35393C;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button-64:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    .button-64 {
      font-size: 3vh;
      min-width: 3vh;
    }
  }

