/* Existing CSS styles */

body {
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #35393C;
    color: #fff;
    padding: 10px 0;
}

.centered-box {
    width: 50vh;
    height: 40vh;
    background-color: #35393C;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.centered-container h2 {
    font-size: 10vh;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Drop shadow for login text */
}

.video-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    z-index: 2;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
}

h1, h2, h3, p {
    font-family: 'Lato', sans-serif;
}

.input-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Drop shadow for input fields */
}

.login-input {
    width: 100%;
    padding: 1.5vh;
    border: none;
    border-radius: .5vh;
    background-color: #f2f2f2;
    font-size: 18px;
}

.login-button {
    width: 100%;
    padding: 1.5vh;
    border: none;
    border-radius: 5vh;
    background-color: #007bff;
    color: #fff;
    font-size: 1.8vh;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Drop shadow for login button */
}

.login-button:hover {
    background-color: #0056b3;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Drop shadow on hover */
}

.login-heading {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Drop shadow for login heading */
    color: #35393C; 
}

.error-message {
    color: red;
}
.error-box {
    text-align: center;
    margin-top: 20px; /* Add some spacing */
}